@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/PatientZone.cshtml";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 col-lg-4" style="box-shadow: 4px 5px 10px 5px red; padding: 2%; margin-top: 4%;">
            <h3 class="text-center" style="color: #004E9A">Change Password Here</h3>
            <hr style="background: orangered; height: 2px;" />
            <form action="/Patient/ChangePassword" method="post">
                <div class="form-group">
                    <label for="txtoldpass">Enter Old Password</label>
                    <input type="password" class="form-control" id="txtoldpass" name="txtoldpass" required />
                </div>
                <div class="form-group">
                    <label for="txtnewpass">Enter New Password</label>
                    <input type="password" class="form-control" id="txtnewpass" name="txtnewpass" required />
                </div>
                <div class="form-group">
                    <label for="txtcpass">Enter Confirm Password</label>
                    <input type="password" class="form-control" id="txtcpass" name="txtcpass" required />
                </div>
                <br />
                <button type="submit" class="btn btn-info btn-block">Change Password</button>
            </form>
        </div>
    </div>
</div>