@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/PatientZone.cshtml";
}

<div class="container">
    <div class="row g-4">
        <div class="col-12 col-sm-6 col-lg-4"></div>
        <div class="col-12 col-sm-6 col-lg-4">
            <h3 class="text-center fw-bolder text-decoration-underline mt-3" style="color: #004E9A; font-size: 50px; font-family: Algerian">Dashboard</h3>
        </div>
        <div class="col-12 col-sm-6 col-lg-4"></div>
    </div>
    <br />
    <div class="row g-4">
   
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card p-3 shadow-sm border border-dark rounded-3" style="min-height: 150px;">
                <center>
                    <a href="/Patient/MyProfile" class="bi bi-person-bounding-box" style="font-size: 70px; margin-top: 10px;"></a>
                    <br />
                    <h3 style="color: #004E9A;">Profile</h3>
                </center>
            </div>
        </div>

       
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card p-3 shadow-sm border border-dark rounded-3" style="min-height: 150px;">
                <center>
                    <a href="/Patient/Appointment" class="bi bi-person-vcard-fill" style="font-size: 70px; margin-top: 10px;"></a>
                    <br />
                    <h3 style="color: #004E9A;">Appointment</h3>
                </center>
            </div>
        </div>

       
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card p-3 shadow-sm border border-dark rounded-3" style="min-height: 150px;">
                <center>
                    <a href="/Patient/ViewAppointment" class="bi bi-journal-richtext" style="font-size: 70px; margin-top: 10px;"></a>
                    <br />
                    <h3 style="color: #004E9A;">View Appointment</h3>
                </center>
            </div>
        </div>

       
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card p-3 shadow-sm border border-dark rounded-3" style="min-height: 150px;">
                <center>
                    <a href="/Patient/ViewNotification" class="bi bi-bell" style="font-size: 70px; margin-top: 10px;"></a>
                    <br />
                    <h3 style="color: #004E9A;">Alerts</h3>
                </center>
            </div>
        </div>

      
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card p-3 shadow-sm border border-dark rounded-3" style="min-height: 150px;">
                <center>
                    <a href="/Patient/Feedback" class="bi bi-pencil-square" style="font-size: 70px; margin-top: 10px;"></a>
                    <br />
                    <h3 style="color: #004E9A;">Feedback</h3>
                </center>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card p-3 shadow-sm border border-dark rounded-3" style="min-height: 150px;">
                <center>
                    <a href="/Patient/Complain" class="bi bi-pen-fill" style="font-size: 70px; margin-top: 10px;"></a>
                    <br />
                    <h3 style="color: #004E9A;">Complain</h3>
                </center>
            </div>
        </div>
      
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card p-3 shadow-sm border border-dark rounded-3" style="min-height: 150px;">
                <center>
                    <a href="/Patient/ViewResponse" class="bi bi-eye" style="font-size: 70px; margin-top: 10px;"></a>
                    <br />
                    <h3 style="color: #004E9A;">View Response</h3>
                </center>
            </div>
        </div>

       
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card p-3 shadow-sm border border-dark rounded-3" style="min-height: 150px;">
                <center>
                    <a href="/Patient/ChangePassword" class="bi bi-lock" style="font-size: 70px; margin-top: 10px;"></a>
                    <br />
                    <h3 style="color: #004E9A;">Change Password</h3>
                </center>
            </div>
        </div>

        

        <!-- Sign Out -->
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card p-3 shadow-sm border border-dark rounded-3" style="min-height: 150px;">
                <center>
                    <a href="/Home/Login" class="bi bi-box-arrow-right" style="font-size: 70px; margin-top: 10px;"></a>
                    <br />
                    <h3 style="color: #004E9A;">Sign Out</h3>
                </center>
            </div>
        </div>
    </div>
    <br />
    <hr />
</div>

